.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 8vh;

  &__links-container {
    display: flex;
    gap: 1rem;
  }

  &__link {
    text-transform: uppercase;
  }
}
